html {
  --primary-color: #000;
  --bg-color: #fff;
}

body {
  background-color: var(--bg-color);
}

h2{
  text-transform: uppercase;
}

.contacts {
  /*в вёрстке редко ограничивают высоту блоков, потому что текста в блоке может быть много больше, используют max/min-height*/
  height: 30%;
  padding-bottom: 20px;
}

/*классы пишут не в верблюжьей нотации (заглавные не используются), правильно будет .contacts-content или по БЭМ это .contacts__content*/
.contactsContent {
  margin-left: 220px;
}

/*картинка некорректных размеров 200x200 относительно исходника, надо использовать object-fit свойство чтобы правильно расстягивалась*/
.krutoiChuvak {
  /*сейчас уже перешли на grid/flex компоновки, float возможен в <article> когда позиционируют картинку относительно параграфов*/
  float: left;
  padding: 0;
  width: 200px;
  height: 200px;
}

.cv {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 20px;
}

.baseType {
  font-weight: bold;
}

.baseValue {
  padding-bottom: 20px;
}


